div.blueTable {
/*    border: 0px solid #4F92AF;
    background-color: #4F92AF; */
    width: 100%;
    height: 75px;
    text-align: center;
    border-collapse: collapse;
    margin:auto;
  }
  .divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
    border: 2px solid #AAAAAA;
    padding: 10px 5px;
  }
  .divTable.blueTable .divTableBody .divTableCell {
    font-size: 14px;
    color: #F7F3F2;
  }
  .blueTable .tableFootStyle {
    font-size: 14px;
  }
  .blueTable .tableFootStyle .links {
       text-align: right;
  }
  .blueTable .tableFootStyle .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .blueTable.outerTableFooter {
    border-top: none;
  }
  .blueTable.outerTableFooter .tableFootStyle {
    padding: 3px 5px; 
  }
  /* DivTable.com */
  .divTable{ display: table; }
  .divTableRow { display: table-row; }
  .divTableHeading { display: table-header-group;}
  .divTableCell, .divTableHead { display: table-cell;}
  .divTableHeading { display: table-header-group;}
  .divTableFoot { display: table-footer-group;}
  .divTableBody { display: table-row-group;}