<!DOCTYPE html>
<html>
	<head>
		<title>Ozark Administrator</title>
		<meta http-equiv="refresh" content="0; url=/latest/auth/spark" />
		<link rel="stylesheet" href="styles.css">
	</head>
<!--	<body>		
        <h4><a href="/auth/spark">Click here if you aren't auto-redirected in 5 seconds</a></h4>
    </body>
-->    
</html>