<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free coming soon template with jQuery countdown">

  <title>Ozark Kiosk</title>

  <!-- Bootstrap -->
  <link href="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/css/bootstrap.css" rel="stylesheet">
  <link href="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/css/bootstrap-theme.css" rel="stylesheet">
  <!--link href="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/css/font-awesome.css" rel="stylesheet"-->
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  

  <!-- siimple style -->
  <link href="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/css/style.css" rel="stylesheet">

  <!-- div tables for call buttons style sheet-->
 <link href="https://cdn.rawgit.com/zoneix/lambda-express/9e3db9d8/views/theme-webuild/assets/css/divtable.css" rel="stylesheet">

  <!-- geo-location -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key="+process.env.MAPAPIKEY+"&callback=initMap"
  type="text/javascript"></script>
<script type="text/javascript"> 
var geocoder;
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} 
//Get the latitude and the longitude;
function successFunction(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    codeLatLng(lat, lng)
}

function errorFunction(){
    alert("Geocoder failed");
}

function initialize() {
  geocoder = new google.maps.Geocoder();
}

function codeLatLng(lat, lng) {
  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({'latLng': latlng}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
    console.log(results)
      if (results[1]) {
        //formatted address
        alert(results[0].formatted_address)
      //find country name
            for (var i=0; i<results[0].address_components.length; i++) {
          for (var b=0;b<results[0].address_components[i].types.length;b++) {

          //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
              if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                  //this is the object you are looking for
                  city= results[0].address_components[i];
                  break;
              }
          }
      }
      //city data
      //alert(city.short_name + " " + city.long_name)


      } else {
        alert("No results found");
      }
    } else {
      alert("Geocoder failed due to: " + status);
    }
  });
}
</script> 



</head>

<body style="background: #363100px;" onload="initialize()">

  <div id="wrapper" style="height: 100%; position:relative;">
    <div class="container" style="position: absolute;bottom: 0;top: 0;left:0;right:0;margin:auto; height:85%">
      <div class="row">
        <div class="col-md-12">

          <img src="https://cdn.rawgit.com/zoneix/lambda-express/51699688/views/theme-webuild/assets/img/logo-blk.png" style="filter: invert(100); width: 90px; padding: 5px 0 5px 0;">
          <h1 style="padding: 10px 0 10px 0; margin:auto">10101 Ozark Way Suites</h1>
          <h2 class="subtitle">Virtual lobby kiosks powered by Cisco Spark</h2>
          <!--div id="countdown"></div-->

          <form class="form-inline signup" role="form" style="padding: 15px 0 45px 0;">
            <div class="form-group">
              <input type="text" class="form-control" id="searchToken" placeholder="Enter person's name" style="margin:auto; text-align:center">
            </div>
            <button type="submit" class="btn btn-theme">Directory Lookup</button>
          </form>

          <div class="divTable blueTable" style="margin:auto; padding: 10px 0 0 0">
              <div class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell" style="background-color:rgba(79, 146, 175, 0.80)">
                  <div class="divTableCellLogo" style="height:65px;">
                    <img src="https://cdn.rawgit.com/zoneix/lambda-express/9f124f63/views/theme-webuild/assets/img/cisco-logo-blk.png" style="filter: invert(100); width: 75px; padding: 5px 0 5px 0;">
                  </div>
                  <p><i class="fas fa-phone-square"></i><b> SUITE 100</b></p>
                </div>
                <div class="divTableCell" style="background-color:rgba(79, 146, 175, 0.80)">
                    <div class="divTableCellLogo" style="height:65px;">
                      <img src="https://cdn.rawgit.com/zoneix/lambda-express/9f124f63/views/theme-webuild/assets/img/cisco-logo-blk.png" style="filter: invert(100); width: 75px; padding: 5px 0 5px 0;">
                    </div>
                    <p><i class="fas fa-phone-square"></i><b> SUITE 200</b></p>
                </div>
                <div class="divTableCell" style="background-color:rgba(223, 145, 56, 0.80)">
                    <div class="divTableCellLogo" style="height:65px;">  
                      <img src="https://cdn.rawgit.com/zoneix/lambda-express/c7b8edaa/views/theme-webuild/assets/img/broadsoft-logo.png" style="width: 100px; padding: 5px 0 5px 0;">
                    </div>
                    <p onclick=""><i class="fas fa-phone-square"></i><b> SUITE 300</b></p>
                </div>
                <div class="divTableCell" style="background-color:#f5f5f5de; color:#000000;">
                    <div  class="divTableCellLogo" style="height:65px;">
                      <img src="https://cdn.rawgit.com/zoneix/lambda-express/c7b8edaa/views/theme-webuild/assets/img/cisco-meraki-logo.png" style="width: 60px; padding: 5px 0 5px 0;">
                    </div>
                    <p><b> SUITE 400</b></p>
                    <p><i class="fal fa-phone fa-3x"></i></p>
                </div>
              </div>
            </div>
          </div>


          <div class="social">
            <a href="https://www.facebook.com/Cisco/"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/CiscoCollab?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/cisco/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <!--
      <div class="row contctform">
        <div class="col-md-8 col-md-offset-2">
          <h3>Contact Us</h3>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
        </div>
        <form action="" method="post" role="form" class="contactForm">
          <div class="col-md-4 col-md-offset-2">
            <div class="form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form">
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" class="btn btn-theme">Send Message</button></div>
            </div>
          </div>
        </form>

      </div>
    -->
    <div id="weather-widget" class="row" style="padding: 30px 0px 30px 0;">
        <a class="weatherwidget-io" href="https://forecast7.com/en/39d04n77d23/20854/?unit=us" data-label_1="POTOMAC" data-label_2="What it feels like..." data-theme="weather_one" >POTOMAC What it feels like...</a>
        <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
        </script>
    </div>

      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <p class="copyright">&copy; 2018 Cisco Systems - CTG Practices - All Rights Reserved</p>
          <div class="credits">
            <!--
              All the links in the footer should remain intact. 
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=WeBuild
            -->
            <a href="https://bootstrapmade.com/">Free Bootstrap Themes</a> by BootstrapMade
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/js/bootstrap.min.js"></script>
  <script src="https://s3.amazonaws.com/ozark-assets/theme-webuild/assets/js/jquery.countdown.min.js"></script>
  <script type="text/javascript">
    $('#countdown').countdown('2019/01/01', function(event) {
      $(this).html(event.strftime('%w weeks %d days <br /> %H:%M:%S'));
    });
  </script>

  <script src="https://s3.amazonaws.com/ozark-assets/theme-webuild/contactform/contactform.js"></script>

</body>

</html>
